@font-face {
    font-family: 'Roboto';
    /* font-family: 'robotolight'; */
    src: url('web-fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('web-fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
         url('web-fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
   font-family: 'Roboto';
    /* font-family: 'robotothin'; */
    src: url('web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
         url('web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    /* font-family: 'robotomedium'; */
    src: url('web-fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot');
    src: url('web-fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
         url('web-fonts/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_medium_macroman/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    /* font-family: 'robotoregular'; */
    src: url('web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    /* font-family: 'robotobold'; */
    src: url('web-fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('web-fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
         url('web-fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    /* font-family: 'robotolight_italic'; */
    src: url('web-fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot');
    src: url('web-fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.woff') format('woff'),
         url('web-fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
   font-family: 'Roboto';
   /* font-family: 'robotothin_italic'; */
    src: url('web-fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot');
    src: url('web-fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('web-fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    /* font-family: 'robotomedium_italic'; */
    src: url('web-fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot');
    src: url('web-fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('web-fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    /* font-family: 'robotoitalic'; */
    src: url('web-fonts/roboto_italic_macroman/Roboto-Italic-webfont.eot');
    src: url('web-fonts/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff'),
         url('web-fonts/roboto_italic_macroman/Roboto-Italic-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_italic_macroman/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    /* font-family: 'robotobold_italic'; */
    src: url('web-fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot');
    src: url('web-fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('web-fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
   font-family: 'Roboto Slab';
    /* font-family: 'roboto_slablight'; */
    src: url('web-fonts/robotoslab_light_macroman/RobotoSlab-Light-webfont.eot');
    src: url('web-fonts/robotoslab_light_macroman/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/robotoslab_light_macroman/RobotoSlab-Light-webfont.woff') format('woff'),
         url('web-fonts/robotoslab_light_macroman/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('web-fonts/robotoslab_light_macroman/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
   font-family: 'Roboto Slab';
    /* font-family: 'roboto_slabthin'; */
    src: url('web-fonts/robotoslab_thin_macroman/RobotoSlab-Thin-webfont.eot');
    src: url('web-fonts/robotoslab_thin_macroman/RobotoSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/robotoslab_thin_macroman/RobotoSlab-Thin-webfont.woff') format('woff'),
         url('web-fonts/robotoslab_thin_macroman/RobotoSlab-Thin-webfont.ttf') format('truetype'),
         url('web-fonts/robotoslab_thin_macroman/RobotoSlab-Thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Slab';
    /* font-family: 'roboto_slabregular'; */
    src: url('web-fonts/robotoslab_regular_macroman/RobotoSlab-Regular-webfont.eot');
    src: url('web-fonts/robotoslab_regular_macroman/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/robotoslab_regular_macroman/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('web-fonts/robotoslab_regular_macroman/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('web-fonts/robotoslab_regular_macroman/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    /* font-family: 'roboto_slabbold'; */
    src: url('web-fonts/robotoslab_bold_macroman/RobotoSlab-Bold-webfont.eot');
    src: url('web-fonts/robotoslab_bold_macroman/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/robotoslab_bold_macroman/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('web-fonts/robotoslab_bold_macroman/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('web-fonts/robotoslab_bold_macroman/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
   font-family: 'Roboto Black';
    /* font-family: 'robotoblack'; */
    src: url('web-fonts/roboto_black_macroman/Roboto-Black-webfont.eot');
    src: url('web-fonts/roboto_black_macroman/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_black_macroman/Roboto-Black-webfont.woff') format('woff'),
         url('web-fonts/roboto_black_macroman/Roboto-Black-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_black_macroman/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Black';
    /* font-family: 'robotoblack_italic'; */
    src: url('web-fonts/roboto_blackitalic_macroman/Roboto-BlackItalic-webfont.eot');
    src: url('web-fonts/roboto_blackitalic_macroman/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_blackitalic_macroman/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('web-fonts/roboto_blackitalic_macroman/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_blackitalic_macroman/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    /* font-family: 'roboto_condensedlight'; */
    src: url('web-fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.eot');
    src: url('web-fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('web-fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    /* font-family: 'roboto_condensedregular'; */
    src: url('web-fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.eot');
    src: url('web-fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('web-fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    /* font-family: 'roboto_condensedbold'; */
    src: url('web-fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.eot');
    src: url('web-fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('web-fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    /* font-family: 'roboto_condensedlight_italic'; */
    src: url('web-fonts/roboto_lightcondenseditalic_macroman/RobotoCondensed-LightItalic-webfont.eot');
    src: url('web-fonts/roboto_lightcondenseditalic_macroman/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_lightcondenseditalic_macroman/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
         url('web-fonts/roboto_lightcondenseditalic_macroman/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_lightcondenseditalic_macroman/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    /* font-family: 'roboto_condenseditalic'; */
    src: url('web-fonts/roboto_condenseditalic_macroman/RobotoCondensed-Italic-webfont.eot');
    src: url('web-fonts/roboto_condenseditalic_macroman/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_condenseditalic_macroman/RobotoCondensed-Italic-webfont.woff') format('woff'),
         url('web-fonts/roboto_condenseditalic_macroman/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_condenseditalic_macroman/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    /* font-family: 'roboto_condensedbold_italic'; */
    src: url('web-fonts/roboto_boldcondenseditalic_macroman/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('web-fonts/roboto_boldcondenseditalic_macroman/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/roboto_boldcondenseditalic_macroman/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
         url('web-fonts/roboto_boldcondenseditalic_macroman/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
         url('web-fonts/roboto_boldcondenseditalic_macroman/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* ./dejavusansmono_bold_macroman/stylesheet.css */
@font-face {
    /* font-family: 'dejavu_sans_monobold'; */
    font-family: 'DejaVu Sans Mono';
    src: url('web-fonts/dejavusansmono_bold_macroman/DejaVuSansMono-Bold-webfont.eot');
    src: url('web-fonts/dejavusansmono_bold_macroman/DejaVuSansMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/dejavusansmono_bold_macroman/DejaVuSansMono-Bold-webfont.woff') format('woff'),
         url('web-fonts/dejavusansmono_bold_macroman/DejaVuSansMono-Bold-webfont.ttf') format('truetype'),
         url('web-fonts/dejavusansmono_bold_macroman/DejaVuSansMono-Bold-webfont.svg#dejavu_sans_monobold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/* ./dejavusansmono_boldoblique_macroman/stylesheet.css */
@font-face {
    /* font-family: 'dejavu_sans_monobold_oblique'; */
    font-family: 'DejaVu Sans Mono';
    src: url('web-fonts/dejavusansmono_boldoblique_macroman/DejaVuSansMono-BoldOblique-webfont.eot');
    src: url('web-fonts/dejavusansmono_boldoblique_macroman/DejaVuSansMono-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/dejavusansmono_boldoblique_macroman/DejaVuSansMono-BoldOblique-webfont.woff') format('woff'),
         url('web-fonts/dejavusansmono_boldoblique_macroman/DejaVuSansMono-BoldOblique-webfont.ttf') format('truetype'),
         url('web-fonts/dejavusansmono_boldoblique_macroman/DejaVuSansMono-BoldOblique-webfont.svg#dejavu_sans_monobold_oblique') format('svg');
    font-weight: bold;
    font-style: italic;

}

/* ./dejavusansmono_book_macroman/stylesheet.css */
@font-face {
    /* font-family: 'dejavu_sans_monobook'; */
    font-family: 'DejaVu Sans Mono';
    src: url('web-fonts/dejavusansmono_book_macroman/DejaVuSansMono-webfont.eot');
    src: url('web-fonts/dejavusansmono_book_macroman/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/dejavusansmono_book_macroman/DejaVuSansMono-webfont.woff') format('woff'),
         url('web-fonts/dejavusansmono_book_macroman/DejaVuSansMono-webfont.ttf') format('truetype'),
         url('web-fonts/dejavusansmono_book_macroman/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ./dejavusansmono_oblique_macroman/stylesheet.css */
@font-face {
    /* font-family: 'dejavu_sans_monooblique'; */
    font-family: 'DejaVu Sans Mono';
    src: url('web-fonts/dejavusansmono_oblique_macroman/DejaVuSansMono-Oblique-webfont.eot');
    src: url('web-fonts/dejavusansmono_oblique_macroman/DejaVuSansMono-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/dejavusansmono_oblique_macroman/DejaVuSansMono-Oblique-webfont.woff') format('woff'),
         url('web-fonts/dejavusansmono_oblique_macroman/DejaVuSansMono-Oblique-webfont.ttf') format('truetype'),
         url('web-fonts/dejavusansmono_oblique_macroman/DejaVuSansMono-Oblique-webfont.svg#dejavu_sans_monooblique') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* ./opensans_bolditalic_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sansbold_italic'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.eot');
    src: url('web-fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('web-fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: 400;
    font-style: italic;

}

/* ./opensans_bold_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sansbold'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('web-fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
         url('web-fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 400;
    font-style: normal;

}


/* ./opensans_extrabolditalic_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sansextrabold_italic'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_extrabolditalic_macroman/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('web-fonts/opensans_extrabolditalic_macroman/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_extrabolditalic_macroman/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('web-fonts/opensans_extrabolditalic_macroman/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_extrabolditalic_macroman/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}

/* ./opensans_extrabold_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sansextrabold'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot');
    src: url('web-fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('web-fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 500;
    font-style: normal;

}

/* ./opensans_italic_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sansitalic'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_italic_macroman/OpenSans-Italic-webfont.eot');
    src: url('web-fonts/opensans_italic_macroman/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_italic_macroman/OpenSans-Italic-webfont.woff') format('woff'),
         url('web-fonts/opensans_italic_macroman/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_italic_macroman/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* ./opensans_lightitalic_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sanslight_italic'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.eot');
    src: url('web-fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('web-fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 100;
    font-style: italic;

}

/* ./opensans_light_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sanslight'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_light_macroman/OpenSans-Light-webfont.eot');
    src: url('web-fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'),
         url('web-fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 100;
    font-style: normal;

}

/* ./opensans_regular_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sansregular'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ./opensans_semibolditalic_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sanssemibold_italic'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.eot');
    src: url('web-fonts/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('web-fonts/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

/* ./opensans_semibold_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sanssemibold'; */
    font-family: 'Open Sans';
    src: url('web-fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot');
    src: url('web-fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff') format('woff'),
         url('web-fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('web-fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/* ./opensanscondensed_bold_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sans_condensedbold'; */
    font-family: 'Open Sans Condensed';
    src: url('web-fonts/opensanscondensed_bold_macroman/OpenSans-CondBold-webfont.eot');
    src: url('web-fonts/opensanscondensed_bold_macroman/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensanscondensed_bold_macroman/OpenSans-CondBold-webfont.woff') format('woff'),
         url('web-fonts/opensanscondensed_bold_macroman/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('web-fonts/opensanscondensed_bold_macroman/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: 200;
    font-style: normal;

}

/* ./opensanscondensed_lightitalic_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sansCnLtIt'; */
    font-family: 'Open Sans Condensed';
    src: url('web-fonts/opensanscondensed_lightitalic_macroman/OpenSans-CondLightItalic-webfont.eot');
    src: url('web-fonts/opensanscondensed_lightitalic_macroman/OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensanscondensed_lightitalic_macroman/OpenSans-CondLightItalic-webfont.woff') format('woff'),
         url('web-fonts/opensanscondensed_lightitalic_macroman/OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
         url('web-fonts/opensanscondensed_lightitalic_macroman/OpenSans-CondLightItalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: 100;
    font-style: italic;

}

/* ./opensanscondensed_light_macroman/stylesheet.css */
@font-face {
    /* font-family: 'open_sanscondensed_light'; */
    font-family: 'Open Sans Condensed';
    src: url('web-fonts/opensanscondensed_light_macroman/OpenSans-CondLight-webfont.eot');
    src: url('web-fonts/opensanscondensed_light_macroman/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('web-fonts/opensanscondensed_light_macroman/OpenSans-CondLight-webfont.woff') format('woff'),
         url('web-fonts/opensanscondensed_light_macroman/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('web-fonts/opensanscondensed_light_macroman/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: 100;
    font-style: normal;

}
